{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
	      <p>
		      <b>Достоверность.</b> Мы публикуем только проверенные научные данные,
		      основанные на рецензируемых исследованиях и экспертных мнениях.
		      Каждая статья проходит проверку на соответствие фактам.
	      </p>
	      <p>
		      <b>Открытость.</b> Мы приветствуем разные научные взгляды и междисциплинарные подходы.
		      Дискуссии и здоровые дебаты — двигатель прогресса. </p>
	      <p>
		      <b>Доступность.</b>
		      Наша цель — говорить о сложном просто. Мы используем понятный язык,
		      инфографику и мультимедиа, чтобы наука была ближе к каждому. </p>
	      <p>
		      <b>Инновации.</b> Мы поддерживаем авторов, которые исследуют новые идеи,
		      технологии и нестандартные гипотезы — в рамках научной методологии. </p>
	      <p>
		      <b>Этика.</b> Плагиат, фальсификации и псевдонаука недопустимы.
		      Мы уважаем авторские права и принципы академической честности. </p>
	      <p>
		      <b>Конфиденциальность.
	        </b> Персональные данные авторов и рецензентов защищены.
		      Вы сами решаете, какую информацию о себе раскрывать.
	      </p>
      </div>
    </div>
  </div>
{% endblock %}